- content_for :title, Settings.env.mensagem
%h1 My title.
%br
= "Teste"
= Settings.env.mensagem

%p
  This is a paragraph.  Here I will specify some
  %strong
    bold and
    %em italicized
    text.
%p Another paragraph.

%strong.code#message Hello, World!

%hr

%br
Tudo OK
%hr



%hr

